<div class="about-wrapper">
    <app-header-title title="About Us"></app-header-title>
    <div class="mt-10">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <div>
                <img width="80%" src="assets/images/about.png" alt="About Revent" srcset="">
            </div>
            <div>
                <h1 class="font-[600] text-[18px] mt-10">
                    We focus on value and excellence
                </h1>
                <p class="text-[14px] mt-5 font-[400] leading-[2em]">
                    We are focused on providing products which deliver demonstrably good value for our clients and
                    end-customers – be that a specific return, outperforming an index or achieving returns at lower
                    risk.​

                </p>
                <p class="text-[14px] mt-5 font-[400] leading-[2em]">Through achieving value for the clients whose
                    assets we manage, efficiently
                    controlling costs,
                    effectiveness and efficiency, we deliver value to our shareholders and wider stakeholders​
                </p>
                <button class="mt-5 bg-[#FCE82F] text-[#000] font-[600] px-10 py-4 rounded-lg">
                    Work with us
                </button>
            </div>
        </div>

    </div>
</div>