<div class="banner-wrapper">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="side_1">
            <h2 class="text-[35px] font-[700] w-3/4">
                Innovative Solution Taliored to your Business need
            </h2>
            <p class="text-[16px] mt-5">
                We can partner with your business to provide a symbiotic relationship and synergy to help you or your
                business achieve more business growth through strategic financial advisory, investment business and
                human resource planning and management.​
            </p>
            <button class="mt-5 bg-[#FCE82F] text-[#000] font-[600] px-10 py-4 rounded-lg">
                Get in Touch
            </button>
            <div class="social-links mt-5">
                <div class="flex grid-row gap-4">
                    <div>
                        <img width="40" src="assets/images/behance.svg" alt="">
                    </div>
                    <div>
                        <img width="40" src="assets/images/dribble.svg" alt="">
                    </div>
                    <div>
                        <img width="40" src="assets/images/facebook.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="side_2 hidden md:block">
            <div class="relative w-3/4 mx-auto">
                <img class="absolute" src="assets/images/yellow_bg.png" alt="">
                <img class="absolute top-[-40px]" src="assets/images/diamond.png" alt="">
            </div>
        </div>
    </div>
</div>