<div class="contact_Wrapper">
    <app-header-title title="Get in Touch"></app-header-title>
    <div class="mt-10">
        <div class="w-6/6 sm:w-4/6 mx-auto">
            <div class="flex justify-between">
                <div class="text-center">
                    <img class="mx-auto" src="assets/images/call.png" alt="" srcset="">
                    <p class="font-[700] text-[20px] mt-3">Call Us</p>
                    <p class="text-[14px] font-[300]">+234-806 749-700</p>
                </div>
                <div class="text-center">
                    <img class="mx-auto" src="assets/images/message.png" alt="" srcset="">
                    <p class="font-[700] text-[20px] mt-3">Send Email</p>
                    <p class="text-[14px] font-[300]">revent@digital.com</p>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <form>
                <div class="grid grid-cols-12 gap-8">
                    <div class="col-span-6">
                        <input type="text" class="w-full rounded-lg h-[40px] px-5" placeholder="Name...">
                    </div>
                    <div class="col-span-6">
                        <input type="tel" class="w-full rounded-lg h-[40px] px-5" placeholder="Phone...">
                    </div>
                    <div class="col-span-12">
                        <input type="email" class="w-full rounded-lg h-[40px] px-5" placeholder="Email...">
                    </div>
                    <div class="col-span-12">
                        <textarea name="message" id="" class="w-full rounded-lg px-5" rows="10"
                            placeholder="Message...."></textarea>
                    </div>
                </div>
                <button class="mt-5 bg-[#FCE82F] text-[#000] font-[600] px-10 py-4 rounded-lg">
                    Send Message
                </button>
            </form>
        </div>
    </div>
</div>