<div class="resume-wrapper">
    <app-header-title title="Resume"></app-header-title>
    <div class="mt-10">
        <div class="flex flex-col sm:flex-row sm:justify-between">
            <div class="border-l-4 border-[#FCE82F] pl-5 mt-5">
                <div class="">
                    <p class="font-[700] text-[30px]">2017</p>
                    <p class="font-[600] mt-3">Louisanna State University</p>
                    <p class="font-[500]">Lorem Ipseum</p>
                </div>

                <div class="mt-12">
                    <p class="font-[700] text-[30px]">2018</p>
                    <p class="font-[600] mt-3">Havard EdX</p>
                    <p class="font-[500]">Principles of Design</p>
                </div>
            </div>
            <div class="border-l-4 border-[#FCE82F] pl-5 mt-5">
                <div>
                    <p class="font-[700] text-[30px]">2019</p>
                    <p class="font-[600] mt-3">Udacity</p>
                    <p class="font-[500]">Product Design</p>
                </div>

                <div class="mt-12">
                    <p class="font-[700] text-[30px]">2020</p>
                    <p class="font-[600] mt-3">Microsoft Partner</p>
                    <p class="font-[500]">Platinum</p>
                </div>
            </div>
        </div>
    </div>
</div>